[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
python-dotenv = "*"
langchain-openai = "*"
faiss-cpu = "*"
firecrawl-py = "*"

[dev-packages]

[requires]
python_version = "3.13"
